html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    padding: 0;
    margin: 0;
}
.top_header{
    background: lightgray;
    height: 10vh;
    width: 100%;
    padding-top: 10px;
}
.icon_placeholder{
    margin-left: 10px;
    height: 50px;
    width: 50px;
    background: blue;
}
.box{
    height: 15vh;
    width: 100%;
}
.text_box{
    height: 30vh;
    width: 100%;
    background: white;
}
.text_box p{
    text-align: center;
    padding-top:70px;
    font-size: 30px;
}

.blue{
    background: lightblue;
}

.cyan{
    background: lightcyan;
}

.lime{
    background: lightgreen;
}

.yellow{
    background: lightyellow;
}